telefonia-persist/src/wsdl/10.52.152.2_8080/organization-webservices/EfetivoWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.organization.projects.tomasio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.organization.projects.tomasio.com/" name="EfetivoWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.organization.projects.tomasio.com/" schemaLocation="http://10.52.152.2:8080/organization-webservices/EfetivoWSService?xsd=1" />
</xsd:schema>
</types>
<message name="authenticate">
<part name="parameters" element="tns:authenticate" />
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse" />
</message>
<message name="findMatricula">
<part name="parameters" element="tns:findMatricula" />
</message>
<message name="findMatriculaResponse">
<part name="parameters" element="tns:findMatriculaResponse" />
</message>
<message name="findMatriculaByLogin">
<part name="parameters" element="tns:findMatriculaByLogin" />
</message>
<message name="findMatriculaByLoginResponse">
<part name="parameters" element="tns:findMatriculaByLoginResponse" />
</message>
<message name="findMatriculaByCpf">
<part name="parameters" element="tns:findMatriculaByCpf" />
</message>
<message name="findMatriculaByCpfResponse">
<part name="parameters" element="tns:findMatriculaByCpfResponse" />
</message>
<message name="findAllMatriculas">
<part name="parameters" element="tns:findAllMatriculas" />
</message>
<message name="findAllMatriculasResponse">
<part name="parameters" element="tns:findAllMatriculasResponse" />
</message>
<message name="findMatriculasAtivas">
<part name="parameters" element="tns:findMatriculasAtivas" />
</message>
<message name="findMatriculasAtivasResponse">
<part name="parameters" element="tns:findMatriculasAtivasResponse" />
</message>
<message name="findMatriculasInativas">
<part name="parameters" element="tns:findMatriculasInativas" />
</message>
<message name="findMatriculasInativasResponse">
<part name="parameters" element="tns:findMatriculasInativasResponse" />
</message>
<message name="findMilitares">
<part name="parameters" element="tns:findMilitares" />
</message>
<message name="findMilitaresResponse">
<part name="parameters" element="tns:findMilitaresResponse" />
</message>
<message name="searchMatriculaByName">
<part name="parameters" element="tns:searchMatriculaByName" />
</message>
<message name="searchMatriculaByNameResponse">
<part name="parameters" element="tns:searchMatriculaByNameResponse" />
</message>
<message name="findAniversariantes">
<part name="parameters" element="tns:findAniversariantes" />
</message>
<message name="findAniversariantesResponse">
<part name="parameters" element="tns:findAniversariantesResponse" />
</message>
<message name="findAniversariantesDoMes">
<part name="parameters" element="tns:findAniversariantesDoMes" />
</message>
<message name="findAniversariantesDoMesResponse">
<part name="parameters" element="tns:findAniversariantesDoMesResponse" />
</message>
<message name="findPessoa">
<part name="parameters" element="tns:findPessoa" />
</message>
<message name="findPessoaResponse">
<part name="parameters" element="tns:findPessoaResponse" />
</message>
<message name="findAllPessoas">
<part name="parameters" element="tns:findAllPessoas" />
</message>
<message name="findAllPessoasResponse">
<part name="parameters" element="tns:findAllPessoasResponse" />
</message>
<message name="createPessoa">
<part name="parameters" element="tns:createPessoa" />
</message>
<message name="createPessoaResponse">
<part name="parameters" element="tns:createPessoaResponse" />
</message>
<message name="updatePessoa">
<part name="parameters" element="tns:updatePessoa" />
</message>
<message name="updatePessoaResponse">
<part name="parameters" element="tns:updatePessoaResponse" />
</message>
<message name="searchPessoaByName">
<part name="parameters" element="tns:searchPessoaByName" />
</message>
<message name="searchPessoaByNameResponse">
<part name="parameters" element="tns:searchPessoaByNameResponse" />
</message>
<message name="searchPessoaByNameWithFotos">
<part name="parameters" element="tns:searchPessoaByNameWithFotos" />
</message>
<message name="searchPessoaByNameWithFotosResponse">
<part name="parameters" element="tns:searchPessoaByNameWithFotosResponse" />
</message>
<message name="searchPessoaByCPF">
<part name="parameters" element="tns:searchPessoaByCPF" />
</message>
<message name="searchPessoaByCPFResponse">
<part name="parameters" element="tns:searchPessoaByCPFResponse" />
</message>
<message name="searchPessoaByIdentidade">
<part name="parameters" element="tns:searchPessoaByIdentidade" />
</message>
<message name="searchPessoaByIdentidadeResponse">
<part name="parameters" element="tns:searchPessoaByIdentidadeResponse" />
</message>
<message name="findPessoaByIdentidade">
<part name="parameters" element="tns:findPessoaByIdentidade" />
</message>
<message name="findPessoaByIdentidadeResponse">
<part name="parameters" element="tns:findPessoaByIdentidadeResponse" />
</message>
<message name="findPessoaByCPF">
<part name="parameters" element="tns:findPessoaByCPF" />
</message>
<message name="findPessoaByCPFResponse">
<part name="parameters" element="tns:findPessoaByCPFResponse" />
</message>
<message name="findAllInconpletos">
<part name="parameters" element="tns:findAllInconpletos" />
</message>
<message name="findAllInconpletosResponse">
<part name="parameters" element="tns:findAllInconpletosResponse" />
</message>
<portType name="EfetivoWS">
<operation name="authenticate">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/authenticateRequest" message="tns:authenticate" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/authenticateResponse" message="tns:authenticateResponse" />
</operation>
<operation name="findMatricula">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculaRequest" message="tns:findMatricula" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculaResponse" message="tns:findMatriculaResponse" />
</operation>
<operation name="findMatriculaByLogin">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculaByLoginRequest" message="tns:findMatriculaByLogin" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculaByLoginResponse" message="tns:findMatriculaByLoginResponse" />
</operation>
<operation name="findMatriculaByCpf">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculaByCpfRequest" message="tns:findMatriculaByCpf" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculaByCpfResponse" message="tns:findMatriculaByCpfResponse" />
</operation>
<operation name="findAllMatriculas">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAllMatriculasRequest" message="tns:findAllMatriculas" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAllMatriculasResponse" message="tns:findAllMatriculasResponse" />
</operation>
<operation name="findMatriculasAtivas">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculasAtivasRequest" message="tns:findMatriculasAtivas" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculasAtivasResponse" message="tns:findMatriculasAtivasResponse" />
</operation>
<operation name="findMatriculasInativas">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculasInativasRequest" message="tns:findMatriculasInativas" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMatriculasInativasResponse" message="tns:findMatriculasInativasResponse" />
</operation>
<operation name="findMilitares">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMilitaresRequest" message="tns:findMilitares" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findMilitaresResponse" message="tns:findMilitaresResponse" />
</operation>
<operation name="searchMatriculaByName">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchMatriculaByNameRequest" message="tns:searchMatriculaByName" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchMatriculaByNameResponse" message="tns:searchMatriculaByNameResponse" />
</operation>
<operation name="findAniversariantes">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAniversariantesRequest" message="tns:findAniversariantes" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAniversariantesResponse" message="tns:findAniversariantesResponse" />
</operation>
<operation name="findAniversariantesDoMes">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAniversariantesDoMesRequest" message="tns:findAniversariantesDoMes" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAniversariantesDoMesResponse" message="tns:findAniversariantesDoMesResponse" />
</operation>
<operation name="findPessoa">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findPessoaRequest" message="tns:findPessoa" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findPessoaResponse" message="tns:findPessoaResponse" />
</operation>
<operation name="findAllPessoas">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAllPessoasRequest" message="tns:findAllPessoas" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAllPessoasResponse" message="tns:findAllPessoasResponse" />
</operation>
<operation name="createPessoa">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/createPessoaRequest" message="tns:createPessoa" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/createPessoaResponse" message="tns:createPessoaResponse" />
</operation>
<operation name="updatePessoa">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/updatePessoaRequest" message="tns:updatePessoa" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/updatePessoaResponse" message="tns:updatePessoaResponse" />
</operation>
<operation name="searchPessoaByName">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByNameRequest" message="tns:searchPessoaByName" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByNameResponse" message="tns:searchPessoaByNameResponse" />
</operation>
<operation name="searchPessoaByNameWithFotos">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByNameWithFotosRequest" message="tns:searchPessoaByNameWithFotos" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByNameWithFotosResponse" message="tns:searchPessoaByNameWithFotosResponse" />
</operation>
<operation name="searchPessoaByCPF">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByCPFRequest" message="tns:searchPessoaByCPF" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByCPFResponse" message="tns:searchPessoaByCPFResponse" />
</operation>
<operation name="searchPessoaByIdentidade">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByIdentidadeRequest" message="tns:searchPessoaByIdentidade" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/searchPessoaByIdentidadeResponse" message="tns:searchPessoaByIdentidadeResponse" />
</operation>
<operation name="findPessoaByIdentidade">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findPessoaByIdentidadeRequest" message="tns:findPessoaByIdentidade" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findPessoaByIdentidadeResponse" message="tns:findPessoaByIdentidadeResponse" />
</operation>
<operation name="findPessoaByCPF">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findPessoaByCPFRequest" message="tns:findPessoaByCPF" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findPessoaByCPFResponse" message="tns:findPessoaByCPFResponse" />
</operation>
<operation name="findAllInconpletos">
<input wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAllInconpletosRequest" message="tns:findAllInconpletos" />
<output wsam:Action="http://webservices.organization.projects.tomasio.com/EfetivoWS/findAllInconpletosResponse" message="tns:findAllInconpletosResponse" />
</operation>
</portType>
<binding name="EfetivoWSPortBinding" type="tns:EfetivoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="authenticate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findMatricula">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findMatriculaByLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findMatriculaByCpf">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAllMatriculas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findMatriculasAtivas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findMatriculasInativas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findMilitares">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchMatriculaByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAniversariantes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAniversariantesDoMes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findPessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAllPessoas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createPessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatePessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchPessoaByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchPessoaByNameWithFotos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchPessoaByCPF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchPessoaByIdentidade">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findPessoaByIdentidade">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findPessoaByCPF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAllInconpletos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="EfetivoWSService">
<port name="EfetivoWSPort" binding="tns:EfetivoWSPortBinding">
<soap:address location="http://10.52.152.2:8080/organization-webservices/EfetivoWSService" />
</port>
</service>
</definitions>